/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
   
    position: relative;
}

.navbar {
    
    background-color: #000000;
    height: 85px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
}


.navbar-nav{
    margin-top: -4rem;
    margin-left: 63rem;
}


.navbar .log{
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.header-content{

    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/pexels-rick98-2793457.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100%; /* Ajusta la altura del contenedor para que ocupe todo el viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Color de texto para mejor visibilidad sobre la imagen de fondo */
    text-align: center;
    padding: 20px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 160px; /* Añade padding para evitar que el contenido se superponga con el nav fijo */
    padding: 110px;
}

.header-content .inf{
    margin-top: 2rem;
}
/*booton de registrase*/
.boton {
    margin-top: 3rem;
    position: relative;
    padding: 10px 45px;
    background: #000000;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  }
  
  button:hover {
    border: 1px solid #ffffff;
    background: linear-gradient(
      85deg,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000
    );
    animation: wind 2s ease-in-out infinite;
  }
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  }
  
  button:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  }
  
  button:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-2 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
.icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}
  
button:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}
  
@keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0);
    }
}
/*booton de registrase*/



.header-content img{
    width: 30rem;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    
}

#features {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

#features .feature {
    margin-bottom: 30px;
}

#features h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
}

#features h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#register {
    padding: 50px 0;
    text-align: center;
}

#register h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
}

.register-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form .btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form .btn:hover {
    background-color: #45A049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* <reset-style> ============================ */
button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
  }
  /* ============================ */
  /* <style for bg> ======== */
  .background {
    border-radius: 16px;
    border: 1px solid #1a1a1a;
    background: rgba(74, 74, 74, 0.39);
    mix-blend-mode: luminosity;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(15px);
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* <style for menu__icon> ======== */
  .menu__icon {
    width: 32px;
    height: 32px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    transition: transform .4s;
  }
  
  .menu__icon span {
    width: 100%;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
    transition: width .4s, transform .4s, background-color .4s;
  }
  
  .menu__icon :nth-child(2) {
    width: 75%;
  }
  
  .menu__icon :nth-child(3) {
    width: 50%;
  }
  
  .menu__icon:hover {
    transform: rotate(-90deg);
  }
  
  .menu__icon:hover span {
    width: .25rem;
    transform: translateX(-10px);
    background-color: rgb(255, 59, 48);
  }
 

@media (max-width: 991.98px) {
    
    .navbar-nav{
        background-color: white;
        color: white;
    }
    .navbar-toggler {
        display: inline-block;
    }
    .navbar-collapse {
        display: none !important;
    }
    .navbar-collapse.show {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .menu__icon span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 4px auto;
        background-color: #333;
        transition: all 0.3s;
    }  
    .despliegue{
      display: block;  
      
    }
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        display: flex !important;
        
    }
    .navbar-nav {
        flex-direction: row;
        gap: 15px;
        z-index: 0;
    }
    .navbar-nav .nav-item {
        margin: 0 10px;
    }
    .navbar-nav .nav-item a {
        color: #ffffff;
        text-decoration: none;
    }
}